@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: sans-serif;
}

body {
  background: white;
}

a:hover {
  cursor: pointer;
}

button {
  color: white;
  width: 150px;
  padding: 15px 30px;
  border-radius: 50px;
}

button:hover {
  cursor: pointer;
}
